/**
 * Default theme configuration for the application.
 *
 * Guidelines for adding custom themes:
 * - Place all custom themes in the `themes` folder.
 * - Each theme must include both a `light` and a `dark` version.
 * - Structure theme files as: `<THEME_NAME>.light` and `<THEME_NAME>.dark`.
 */

.default.light {
  --brand-50: #e3f0fe;
  --brand-100: #d5eafe;
  --brand-200: #c2e0fc;
  --brand-300: #8fc8fb;
  --brand-400: #5dabf7;
  --brand-500: #4592e8;
  --brand-600: #3473c7;
  --brand-700: #295ea5;
  --brand-800: #234f84;
  --brand-900: #1e416e;
  --brand-950: #122948;

  --error-25: #FFFBFA;
  --error-50: #FEF3F2;
  --error-100: #FEE4E2;
  --error-200: #FECDCA;
  --error-300: #FDA29B;
  --error-400: #F97066;
  --error-500: #F04438;
  --error-600: #D92D20;
  --error-700: #B42318;
  --error-800: #912018;
  --error-900: #7A271A;
  --error-950: #55160C;

  --warning-25: #FFFCF5;
  --warning-50: #FFFAEB;
  --warning-100: #FEF0C7;
  --warning-200: #FEDF89;
  --warning-300: #FEC84B;
  --warning-400: #FDB022;
  --warning-500: #F79009;
  --warning-600: #DC6803;
  --warning-700: #B54708;
  --warning-800: #93370D;
  --warning-900: #7A2E0E;
  --warning-950: #4E1D09;

  --success-25: #F6FEF9;
  --success-50: #ECFDF3;
  --success-100: #DCFAE6;
  --success-200: #ABEFC6;
  --success-300: #75E0A7;
  --success-400: #47CD89;
  --success-500: #17B26A;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #085D3A;
  --success-900: #074D31;
  --success-950: #053321;

  --gray-25: #FCFCFD;
  --gray-50: #F9FAFB;
  --gray-100: #F2F4F7;
  --gray-200: #E4E7EC;
  --gray-300: #D0D5DD;
  --gray-400: #98A2B3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #182230;
  --gray-900: #101828;
  --gray-950: #0C111D;

  --black: #000000;
  --white: #ffffff;
}

.default.dark {
  --brand-50: #e3f0fe;
  --brand-100: #d5eafe;
  --brand-200: #c2e0fc;
  --brand-300: #8fc8fb;
  --brand-400: #5dabf7;
  --brand-500: #4592e8;
  --brand-600: #3473c7;
  --brand-700: #295ea5;
  --brand-800: #234f84;
  --brand-900: #1e416e;
  --brand-950: #122948;

  --error-25: #FFFBFA;
  --error-50: #FEF3F2;
  --error-100: #FEE4E2;
  --error-200: #FECDCA;
  --error-300: #FDA29B;
  --error-400: #F97066;
  --error-500: #F04438;
  --error-600: #D92D20;
  --error-700: #B42318;
  --error-800: #912018;
  --error-900: #7A271A;
  --error-950: #55160C;

  --warning-25: #FFFCF5;
  --warning-50: #FFFAEB;
  --warning-100: #FEF0C7;
  --warning-200: #FEDF89;
  --warning-300: #FEC84B;
  --warning-400: #FDB022;
  --warning-500: #F79009;
  --warning-600: #DC6803;
  --warning-700: #B54708;
  --warning-800: #93370D;
  --warning-900: #7A2E0E;
  --warning-950: #4E1D09;

  --success-25: #F6FEF9;
  --success-50: #ECFDF3;
  --success-100: #DCFAE6;
  --success-200: #ABEFC6;
  --success-300: #75E0A7;
  --success-400: #47CD89;
  --success-500: #17B26A;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #085D3A;
  --success-900: #074D31;
  --success-950: #053321;

  --gray-25: #FAFAFA;
  --gray-50: #F7F7F7;
  --gray-100: #F0F1F1;
  --gray-200: #ECECED;
  --gray-300: #CECFD2;
  --gray-400: #94969C;
  --gray-500: #85888E;
  --gray-600: #61646C;
  --gray-700: #373A41;
  --gray-800: #22262F;
  --gray-900: #13161B;
  --gray-950: #0C0E12;

  --black: #000000;
  --white: #ffffff;
}

.default.system {
  --brand-50: #e3f0fe;
  --brand-100: #d5eafe;
  --brand-200: #c2e0fc;
  --brand-300: #8fc8fb;
  --brand-400: #5dabf7;
  --brand-500: #4592e8;
  --brand-600: #3473c7;
  --brand-700: #295ea5;
  --brand-800: #234f84;
  --brand-900: #1e416e;
  --brand-950: #122948;

  --error-25: #FFFBFA;
  --error-50: #FEF3F2;
  --error-100: #FEE4E2;
  --error-200: #FECDCA;
  --error-300: #FDA29B;
  --error-400: #F97066;
  --error-500: #F04438;
  --error-600: #D92D20;
  --error-700: #B42318;
  --error-800: #912018;
  --error-900: #7A271A;
  --error-950: #55160C;

  --warning-25: #FFFCF5;
  --warning-50: #FFFAEB;
  --warning-100: #FEF0C7;
  --warning-200: #FEDF89;
  --warning-300: #FEC84B;
  --warning-400: #FDB022;
  --warning-500: #F79009;
  --warning-600: #DC6803;
  --warning-700: #B54708;
  --warning-800: #93370D;
  --warning-900: #7A2E0E;
  --warning-950: #4E1D09;

  --success-25: #F6FEF9;
  --success-50: #ECFDF3;
  --success-100: #DCFAE6;
  --success-200: #ABEFC6;
  --success-300: #75E0A7;
  --success-400: #47CD89;
  --success-500: #17B26A;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #085D3A;
  --success-900: #074D31;
  --success-950: #053321;

  --gray-25: #FCFCFD;
  --gray-50: #F9FAFB;
  --gray-100: #F2F4F7;
  --gray-200: #E4E7EC;
  --gray-300: #D0D5DD;
  --gray-400: #98A2B3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #182230;
  --gray-900: #101828;
  --gray-950: #0C111D;

  --black: #000000;
  --white: #ffffff;

  @media (prefers-color-scheme: dark) {
    -brand-50: #e3f0fe;
    --brand-100: #d5eafe;
    --brand-200: #c2e0fc;
    --brand-300: #8fc8fb;
    --brand-400: #5dabf7;
    --brand-500: #4592e8;
    --brand-600: #3473c7;
    --brand-700: #295ea5;
    --brand-800: #234f84;
    --brand-900: #1e416e;
    --brand-950: #122948;

    --error-25: #FFFBFA;
    --error-50: #FEF3F2;
    --error-100: #FEE4E2;
    --error-200: #FECDCA;
    --error-300: #FDA29B;
    --error-400: #F97066;
    --error-500: #F04438;
    --error-600: #D92D20;
    --error-700: #B42318;
    --error-800: #912018;
    --error-900: #7A271A;
    --error-950: #55160C;

    --warning-25: #FFFCF5;
    --warning-50: #FFFAEB;
    --warning-100: #FEF0C7;
    --warning-200: #FEDF89;
    --warning-300: #FEC84B;
    --warning-400: #FDB022;
    --warning-500: #F79009;
    --warning-600: #DC6803;
    --warning-700: #B54708;
    --warning-800: #93370D;
    --warning-900: #7A2E0E;
    --warning-950: #4E1D09;

    --success-25: #F6FEF9;
    --success-50: #ECFDF3;
    --success-100: #DCFAE6;
    --success-200: #ABEFC6;
    --success-300: #75E0A7;
    --success-400: #47CD89;
    --success-500: #17B26A;
    --success-600: #079455;
    --success-700: #067647;
    --success-800: #085D3A;
    --success-900: #074D31;
    --success-950: #053321;

    --gray-25: #FAFAFA;
    --gray-50: #F7F7F7;
    --gray-100: #F0F1F1;
    --gray-200: #ECECED;
    --gray-300: #CECFD2;
    --gray-400: #94969C;
    --gray-500: #85888E;
    --gray-600: #61646C;
    --gray-700: #373A41;
    --gray-800: #22262F;
    --gray-900: #13161B;
    --gray-950: #0C0E12;

    --black: #000000;
    --white: #ffffff;
  }
}
