/**
 * Default theme configuration for the application.
 * 
 * Guidelines for adding custom themes:
 * - Place all custom themes in the `themes` folder.
 * - Each theme must include both a `light` and a `dark` version.
 * - Structure theme files as: `<THEME_NAME>.light` and `<THEME_NAME>.dark`.
 */

.default.light {
  --brand-primary-25: #FCFAFF;
  --brand-primary-50: #F9F5FF;
  --brand-primary-100: #F4EBFF;
  --brand-primary-200: #E9D7FE;
  --brand-primary-300: #D6BBFB;
  --brand-primary-400: #B692F6;
  --brand-primary-500: #9E77ED;
  --brand-primary-600: #7F56D9;
  --brand-primary-700: #6941C6;
  --brand-primary-800: #53389E;
  --brand-primary-900: #42307D;
  --brand-primary-950: #2C1C5F;

  --error-25: #FFFBFA;
  --error-50: #FEF3F2;
  --error-100: #FEE4E2;
  --error-200: #FECDCA;
  --error-300: #FDA29B;
  --error-400: #F97066;
  --error-500: #F04438;
  --error-600: #D92D20;
  --error-700: #B42318;
  --error-800: #912018;
  --error-900: #7A271A;
  --error-950: #55160C;

  --warning-25: #FFFCF5;
  --warning-50: #FFFAEB;
  --warning-100: #FEF0C7;
  --warning-200: #FEDF89;
  --warning-300: #FEC84B;
  --warning-400: #FDB022;
  --warning-500: #F79009;
  --warning-600: #DC6803;
  --warning-700: #B54708;
  --warning-800: #93370D;
  --warning-900: #7A2E0E;
  --warning-950: #4E1D09;

  --success-25: #F6FEF9;
  --success-50: #ECFDF3;
  --success-100: #DCFAE6;
  --success-200: #ABEFC6;
  --success-300: #75E0A7;   
  --success-400: #47CD89;
  --success-500: #17B26A;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #085D3A;
  --success-900: #074D31;
  --success-950: #053321;

  --gray-25: #FDFDFD;
  --gray-50: #FAFAFA;
  --gray-100: #F5F5F5;
  --gray-200: #E9EAEB;
  --gray-300: #D5D7DA;  
  --gray-400: #A4A7AE;  
  --gray-500: #6E737C;  
  --gray-600: #535862;  
  --gray-700: #414651;  
  --gray-800: #252B37;
  --gray-900: #181D27;
  --gray-950: #0A0D12;
}

.default.dark {
  --brand-primary-25: #FCFAFF;
  --brand-primary-50: #F9F5FF;
  --brand-primary-100: #F4EBFF;
  --brand-primary-200: #E9D7FE;
  --brand-primary-300: #D6BBFB;
  --brand-primary-400: #B692F6;
  --brand-primary-500: #9E77ED;
  --brand-primary-600: #7F56D9;
  --brand-primary-700: #6941C6;
  --brand-primary-800: #53389E;
  --brand-primary-900: #42307D;
  --brand-primary-950: #2C1C5F;

  --error-25: #FFFBFA;
  --error-50: #FEF3F2;
  --error-100: #FEE4E2;
  --error-200: #FECDCA;
  --error-300: #FDA29B;
  --error-400: #F97066;
  --error-500: #F04438;
  --error-600: #D92D20;
  --error-700: #B42318;
  --error-800: #912018;
  --error-900: #7A271A;
  --error-950: #55160C;

  --warning-25: #FFFCF5;
  --warning-50: #FFFAEB;
  --warning-100: #FEF0C7;
  --warning-200: #FEDF89;
  --warning-300: #FEC84B;
  --warning-400: #FDB022;
  --warning-500: #F79009;
  --warning-600: #DC6803;
  --warning-700: #B54708;
  --warning-800: #93370D;
  --warning-900: #7A2E0E;
  --warning-950: #4E1D09;

  --success-25: #F6FEF9;
  --success-50: #ECFDF3;
  --success-100: #DCFAE6;
  --success-200: #ABEFC6;
  --success-300: #75E0A7;   
  --success-400: #47CD89;
  --success-500: #17B26A;
  --success-600: #079455;
  --success-700: #067647;
  --success-800: #085D3A;
  --success-900: #074D31;
  --success-950: #053321;

  --gray-25: #FAFAFA;
  --gray-50: #F7F7F7;
  --gray-100: #F0F1F1;
  --gray-200: #ECECED;
  --gray-300: #CECFD2;  
  --gray-400: #94969C;  
  --gray-500: #85888E;  
  --gray-600: #61646C;  
  --gray-700: #373A41;  
  --gray-800: #22262F;
  --gray-900: #13161B;
  --gray-950: #0C0E12;
}