@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import 'reset';

  :root {
    --black: 0, 0, 0;
    --white: 255, 255, 255;

    --background: 255, 255, 255;
    --foreground: 16, 24, 40;

    --primary: 127, 86, 217;
    --primary-foreground: 255, 255, 255;

    --secondary: 187, 242, 249;
    --secondary-foreground: 71, 84, 103;

    --accent: 240, 238, 217;
    --accent-foreground: 57, 27, 27;

    --destructive: 245, 108, 108;
    --destructive-foreground: 255, 255, 255;

    --success: 67, 181, 129;
    --success-foreground: 255, 255, 255;

    --warning: 247, 178, 51;
    --warning-foreground: 255, 255, 255;

    --muted: 240, 240, 255;
    --muted-foreground: 102, 112, 133;
    --muted-background: 249, 250, 251;

    --popover: 255, 255, 255;
    --popover-foreground: 0, 0, 0;

    --card: 255, 255, 255;
    --card-foreground: 0, 0, 0;

    --border: 229, 233, 240;
    --input: 255, 255, 255;

    --neutral-100: 245, 245, 245;
    --neutral-200: 229, 229, 229;
    --neutral-300: 212, 212, 212;
    --neutral-400: 163, 163, 163;
    --neutral-500: 115, 115, 115;
    --neutral-600: 82, 82, 82;
    --neutral-700: 64, 64, 64;
    --neutral-800: 38, 38, 38;
    --neutral-900: 23, 23, 23;

    --ring: 127, 86, 217;

    --input-foreground: 0, 0, 56;
    --input-placeholder: 192, 196, 204;
    --input-disabled: 253, 253, 253;
    --input-border: 208, 213, 221;
    --input-ring: 172, 180, 219;

    --shadow-sm: 0px 1px 2px 0px #1018280D;
    --shadow-button: 0;
    --shadow-button-hover: 0;

    --shadow-card: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    --shadow-card-hover: 0;

    --shadow-modal: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
    --shadow-popover: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);

    --radius: 0.5rem;
    --radius-modal: 0.5rem;
    --radius-popover: 0.4rem;
    --radius-card: 1rem;
    --radius-button: 0.4rem;
    --radius-input: 0.4rem;
    --radius-full: 9999px;

    --font-size-hero: 2.5rem;
    --font-size-title: 1.5rem;
    --font-size-subtitle: 1.25rem;
    --font-size-heading: 1.125rem;
    --font-size-body: 1rem;
    --font-size-subtext: 0.875rem;
    --font-size-caption: 0.75rem;

    --font-line-height-hero: 1;
    --font-line-height-title: 2rem;
    --font-line-height-subtitle: 1.75rem;
    --font-line-height-heading: 1.75rem;
    --font-line-height-body: 1.5rem;
    --font-line-height-subtext: 1.25rem;
    --font-line-height-caption: 1rem;
  }
}

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    @apply box-border m-0 p-0;
  }

  body {
    @apply bg-background font-sans flex flex-col min-h-screen;
    font-family: 'Inter Variable', sans-serif;
  }

  #app {
    @apply flex flex-col w-full h-full flex-1;
  }

  img,
  video {
    @apply w-full h-full object-cover;
  }
}
